---
import '../styles/global.css';
import Navbar from '../components/Navbar.tsx';
import Hero from '../components/Hero.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ada Grace - SMW Care Services</title>
		<meta name="description" content="Welcome to Ada Grace. Comfort. Community. Care." />
	</head>

	<body>
		<Navbar client:load />
		<Hero />
	</body>
</html>
